<% if signed_in? %>
  <div class="row">
    <aside class="col-xs-12 col-sm-4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-xs-12 col-sm-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
  </div>
<% else %>
  <div class="center jumobtron">
    <h1>Welcome to Simplify Chat!</h1>

    <h2>
      To find all the juicy stuff you need to sign-up by hitting the button below
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>
  
  <%= link_to image_tag("logo.png", alt: "Simplify the Law"), 'http://www.simplifythelaw.co.uk/', id: "stl-logo" %>
<% end %>