<% provide(:title, 'Contact us') %>
<h1>Contact us</h1>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <%= form_for(@contact) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <% if signed_in? %>
        <%= f.label :name %>
        <%= f.text_field :name, :value => "#{current_user.name}" %>

        <%= f.label :email %>
        <%= f.text_field :email, :value => "#{current_user.email}" %>
      <% else %>
        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :email %>
        <%= f.text_field :email %>
      <% end %>

      <%= f.label :message %>
      <%= f.text_area :message, rows: 10  %>

      <div class="hidden">
        <%= f.label :nickname %>
        <%= f.text_field :nickname, placeholder: "Leave this field blank" %>
      </div>

      <%= f.submit "Send", class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>
</div>